@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cliente";
}
<div>
    <button class="btn btn-primary">Nuevo Cliente</button>
</div>
<section>
    <div>
        <form>
            <select>
                <option>Nuevo Cliente</option>
                <option>-</option>
            </select>
            <select>
                <option>Numero</option>
                <option>Telefono</option>
            </select>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Numero</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Santi</td>
                    <td>1</td>
                    <td>MOTOROLA</td>
                </tr>
                <tr>
                    <td>Brendaaaa</td>
                    <td>2</td>
                    <td>IPHONE X</td>
                </tr>
                <tr>
                    <td>Mat Van Der</td>
                    <td>3</td>
                    <td>LG</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

