@model Models.Models.Cliente
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
@{
    ViewData["Title"] = "Nuevo Cliente";
}
<h1 class="text-center">Nuevo Cliente</h1>
<div class="d-flex justify-content-center">
    <form action="/Cliente/NuevoCliente" method="post">
        <div class="col-md-12">
            <label for="Nombre" class="form-label">Nombre:</label>
            <input type="text" asp-for="Nombre" value="" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label for="Numero" class="form-label">Numero:</label>
            <input type="text" asp-for="Numero" value="" class="form-control" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label for="Telefono" class="form-label">Telefono:</label>
            <input type="text" asp-for="Telefono" value="" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label for="Email" class="form-label">Email:</label>
            <input type="text" asp-for="Email" value="" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label for="Direccion" class="form-label">Direccion:</label>
            <input type="text" asp-for="Direccion" value="" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label for="Cuit" class="form-label">CUIT:</label>
            <input type="text" asp-for="Cuit" value="" class="form-control" />
            <span asp-validation-for="Cuit" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Guardar" />
            <input type="submit" class="btn btn-success" value="Guardar y Crear otro" />
            <a class="btn btn-warning" asp-controller="Cliente" asp-action="Clientes">Cancelar</a>
        </div>
    </form>
</div>
