

<footer class="border-top text-center ">
    <p class="text-dark">
        &copy; 2021 - GestorPedidos - Santiago Fagliano - Matias Sanchez - Brenda Daffunchio - Matias Van Der Beken
    </p>
</footer>