@{
    ViewData["Title"] = "Crear Pedido";
}
<div>
    <div class="volver mb-3">
        <a asp-controller="Pedido" asp-action="Pedido">
            <i class="fas fa-long-arrow-alt-left"></i> Volver
        </a>
    </div>
    <div class="py-2">
        <h3>Crear pedido</h3>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mt-3">
            <div class="mb-3">
                <label class="form-label-group">Cliente</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>-</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="mb-2">
                <label class="form-label-group">Articulo</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>-</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-dark">Agregar a la lista</button>
            </div>
        </div>
        <div class="hr-pedido">
            <hr />
        </div>
        <div class="col-12 col-md-6 mt-3">
            <p>Carrito</p>
            <div class="table-responsive ">
                <table id="" class="table table-striped" style="width:100%">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th>Descripcion</th>
                            <th>Codigo</th>
                            <th>Cantidad</th>
                            <th>Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Coca Cola</td>
                            <td>A122</td>
                            <td>1</td>
                            <td><button class="btn btn-outline-dark"><i class="fas fa-info"></i></button></td>

                        </tr>
                        <tr>
                            <td>Pepsi</td>
                            <td>B2B1</td>
                            <td>2</td>
                            <td><button class="btn btn-outline-dark"><i class="fas fa-info"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="d-none row my-2 pedido-pc">
                <div class="col-6">
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-outline-success">Agregar</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-success">Agregar otro </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row my-2 pedido-phone">
        <div class="col-6 col-md-4">
            <div class="d-flex justify-content-start">
                <button class="btn btn-outline-success">Agregar</button>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-success">Agregar otro </button>
            </div>
        </div>
    </div>


</div>