@model Models.Models.Usuario;
@{
    ViewData["Title"] = "Login";
}

<div id="login">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin m-3">
                <div class="card-body">
                    <h5 class="card-title text-center">
                        Iniciar sesi&oacute;n
                    </h5>
                    <form class="form-signin" asp-action="Login" asp-controller="login">
                        <div class="form-label-group">
                            <input asp-for="Email" id="email" type="email" class="form-control p-1" placeholder="Correo electronico" />
                            <span asp-validation-for="Email " class="text-danger"></span>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="password" asp-for="Password" class="form-control p-1" placeholder="Contrasenia" />
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary text-uppercase" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>