@{
    ViewData["Title"] = "Login";
}

<div id="login">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin m-3">
                <div class="card-body">
                    <h5 class="card-title text-center border-bottom">
                        Iniciar sesi&oacute;n
                    </h5>
                    <form class="form-signin">

                        <div class="form-label-group">
                            <input path="email" id="email" type="email" class="form-control" placeholder="Correo electronico" />
                        </div>

                        <div class="form-label-group">
                            <input path="password" type="password" id="password" class="form-control" placeholder="Contrasenia" />
                        </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                                Iniciar
                                sesi&oacute;n
                            </button>
                        </div>
                        <hr class="my-4">
                        <div class="text-center">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="button">
                                Iniciar
                                sesi&oacute;n con Google
                            </button>
                        </div>

                    </form>
                </div>
                <p class="text-center">
                    ¿Todavia no tienes una cuenta? <a class="login">Registrate</a>
                </p>
            </div>
        </div>
    </div>
</div>