@model Models.Models.Articulo;
@{
    ViewData["Title"] = "Nuevo Articulo";
}


<h1 class="text-center">Nuevo Artículo</h1>
<div class="d-flex justify-content-center">
    <form asp-action="NuevoArticulo" asp-controller="Articulo" method="post">
        <div class="col-md-12">
            <label for="Codigo" class="form-label">Código:</label>
            <input type="text" asp-for="Codigo" value="" class="form-control" />
            <span asp-validation-for="Codigo" class="text-danger"></span>
        </div>
        <div class="col-md-12">
            <label for="Descripcion" class="form-label">Descripción:</label>
            <input type="password" asp-for="Descripcion" value="" class="form-control" />
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Guardar" />
            <input type="submit" class="btn btn-success" value="Guardar y Crear otro" />
            <a class="btn btn-warning" asp-controller="Articulo" asp-action="Articulos">Cancelar</a>
        </div>
    </form>
</div>
