
@model Models.Models.Articulo; 
@{

    ViewData["Title"] = "Ver Artículo";
}
<div class="table-responsive text-center">
    <table class="table table-bordered table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Descripcion</th>
                @if(Model.FechaBorrado==null) {
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Codigo </td>
                <td>@Model.Descripcion</td>
                @if(Model.FechaBorrado==null) { 
                <td><a href="/Articulo/EditarArticulo?IdArticulo=@Model.IdArticulo" class="btn btn-warning text-light">Editar</a></td>
                <td> <a href="/Articulo/EliminarArticulo?IdArticulo=@Model.IdArticulo" class="btn btn-danger text-light">Eliminar</a></td>
                }
            </tr>
           
        </tbody>
    </table>
</div>